<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    {% load static %}
    <link href="{% static 'interviewPayment/list_order.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="order__container">
        {% if order_items %}
            <div class="order__container order__container__items">
                {% for item in order_items %}
                    <div class="order__container order__container__item">
                        <div class="order__items_name">
                            Name: {{ item.name }}
                        </div>
                        <div class="order__items_description">
                            Description: {{ item.description }}
                        </div>
                        <div class="order__items_price">
                            Price: {{ item.price }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Go to payment">
            </form>
        {% else %}
            Order empty.
        {% endif %}

        <a href="{% url 'interviewPayment:list_items' %}">Go to items.</a>
    </div>
</body>
</html>